@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mb-3">
    <div class="row mb-3">
        <div class="col">
            <h1 class="display-4 mb-3">Welcome</h1>
            <p class="lead mb-3">
                <a href="https://store.steampowered.com/" target="_blank" rel="noreferrer noopener external nofollow">Steam</a>における
                ストア地域ごとの差異を収集するサードパーティ情報サイトです。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <blockquote class="blockquote text-center">
                <p class="display-4">@ViewBag.Counts[0].ToString("N0")</p>
                <footer class="blockquote-footer"><cite title="apps">apps in DB</cite></footer>
            </blockquote>
        </div>
        <div class="col-sm">
            <blockquote class="blockquote text-center">
                <p class="display-4">@ViewBag.Counts[1].ToString("N0")</p>
                <footer class="blockquote-footer"><cite title="developers">developers in DB</cite></footer>
            </blockquote>
        </div>
        <div class="col-sm">
            <blockquote class="blockquote text-center">
                <p class="display-4">@ViewBag.Counts[2].ToString("N0")</p>
                <footer class="blockquote-footer"><cite title="publishers">publishers in DB</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<table class="table table-responsive">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Price(USD)</th>
            <th scope="col">Price(JPY)</th>
            <th scope="col">Price Gap</th>
            <th scope="col">おま国</th>
            <th scope="col">おま値</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SteamOmakuni.Models.Data.App app in ViewBag.Apps)
        {
            <tr>
                <td><img class="img-thumbnail" src="https://cdn.cloudflare.steamstatic.com/steam/apps/@app.AppID/capsule_184x69.jpg" width="150" height="56" loading="lazy" /></td>
                <td scope="row">@app.Name</td>
                <td>@app.Release.Date</td>
                <td class="col__price col__usd">
                    <span class="col__price__initial">@(null == app.PriceUSD ? "-" : app.PriceUSD.Initial)</span><br />
                    <span class="col__price__final">@(app.PriceUSD?.Final)</span>
                </td>
                <td class="col__price col__jpy">
                    <span class="col__price__initial">@(null == app.PriceJPY ? "-" : app.PriceJPY.Initial)</span><br />
                    <span class="col__price__final">@(app.PriceJPY?.Final)</span>
                </td>
                <td class="col__price">
                    @(null == app.PriceUSD || null == app.PriceJPY ? "" : app.InitialPriceGapPercent)<br />
                    @(null == app.PriceUSD || null == app.PriceJPY ? "" : app.FinalPriceGapPercent)
                </td>
                <td>@app.IsGeoBlocked</td>
                <td>@app.IsGeoBlockedInitialPrice</td>
            </tr>
        }
    </tbody>
</table>