@model SteamOmakuni.Models.Data.App;

<div class="container appinfo">
    <div class="row mb-3">
        <div class="col-sm-auto mx-auto d-block appinfo__thumbnail">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/@Model.AppID/library_600x900.jpg" class="img-fluid shadow-lg mx-auto d-block" width="300" height="450" alt="@Model.Name" loading="lazy" />
        </div>
        <div class="col-lg appinfo__detail px-5 py-4">
            <p class="text-uppercase text-muted fs-4 mb-1">@Model.Type</p>
            <h1 class="display-6 mb-4">@Model.Name</h1>

            <dl class="row">
                <dt class="col-sm-3">Release Date</dt>
                <dd class="col-md-9">@Model.Release?.Date@(null != Model.Release && Model.Release.IsCommingSonn ? " (発売予定)" : "")</dd>

                <dt class="col-sm-3">Developer</dt>
                <dd class="col-md-9">
                    @string.Join(",", Model.Developers)
                </dd>

                <dt class="col-sm-3">Publisher</dt>
                <dd class="col-md-9">
                    @string.Join(",", Model.Publishers)
                </dd>

                <dt class="col-sm-3">Genre</dt>
                <dd class="col-md-9">
                    @if (null != Model.Genres)
                    {
                        string.Join(",", Model.Genres?.Select(x => x.Name));
                    }
                </dd>

                <dt class="col-sm-3">Languages</dt>
                <dd class="col-md-9">@string.Join(", ", Model.Languages)</dd>

                <dt class="col-sm-3">Reviews</dt>
                <dd class="col-md-9">@string.Format("{0:N0}", Model.Recommendations)</dd>

                <dt class="col-sm-3">Geo Blocked</dt>
                <dd class="col-md-9">@Model.IsGeoBlocked</dd>
            </dl>
        </div>
    </div>
    <div class="row mb-3">
        <table class="table caption-top text-center">
            <caption>Prices</caption>
            <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Regular Price</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Converted Price</th>
                    <th scope="col">Price Gap</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">JPY</td>
                    <td class="text-right price_jpy"><span>@string.Format("{0:N0}", Model.PriceJPY?.Initial)</span></td>
                    <td class="text-right price_jpy"><span>@string.Format("{0:N0}", Model.PriceJPY?.Final)</span></td>
                    <td class="text-right price_jpy"><span>@string.Format("{0:N0}", Model.PriceJPY?.Final)</span></td>
                    <td class="text-right percent">
                        @if (Model.FinalPriceGapPercent > 15)
                        {
                            <span class="text-danger">@Model.FinalPriceGapPercent</span>
                        }
                        else if (Model.FinalPriceGapPercent > 5)
                        {
                            <span class="text-warning">@Model.FinalPriceGapPercent</span>
                        }
                        else if (Model.FinalPriceGapPercent > 0)
                        {
                            <span class="text-muted">@Model.FinalPriceGapPercent</span>
                        }
                        else
                        {
                            <span class="text-success">@Model.FinalPriceGapPercent</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td scope="row">USD</td>
                    <td class="text-right price_usd"><span>@string.Format("{0:N2}", Model.PriceUSD?.Initial)</span></td>
                    <td class="text-right price_usd"><span>@string.Format("{0:N2}", Model.PriceUSD?.Final)</span></td>
                    <td class="text-right price_jpy"><span>@string.Format("{0:N0}", (Model.PriceUSD?.Final * 105))</span></td>
                    <td class="text-right percent">-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mb-3">
        <table class="table caption-top text-center">
            <caption>Links</caption>
            <thead>
                <tr>
                    <th scope="col">Steam</th>
                    <th scope="col">Steam Database</th>
                    <th scope="col">Global Steam</th>
                    <th scope="col">SteamPeek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="https://store.steampowered.com/app/@Model.AppID/" target="_blank" rel="noreferrer noopener external nofollow">
                            <img src="https://store.steampowered.com/favicon.ico" loading="lazy" width="32" height="32" />
                        </a>
                    </td>
                    <td>
                        <a href="https://steamdb.info/app/@Model.AppID/" target="_blank" rel="noreferrer noopener external nofollow">
                            <img src="https://steamdb.info/static/logos/vector_prefers_schema.svg" loading="lazy" width="32" height="32" />
                        </a>
                    </td>
                    <td>
                        <a href="https://gamedb.online/games/@Model.AppID/" target="_blank" rel="noreferrer noopener external nofollow">
                            <img src="https://gamedb.online/assets/img/sa-bg-32x32.png" loading="lazy" width="32" height="32" />
                        </a>
                    </td>
                    <td>
                        <a href="https://steampeek.hu/?appid=@Model.AppID" target="_blank" rel="noreferrer noopener external nofollow">
                            <img src="https://steampeek.hu/favicon-32x32-spg.png" loading="lazy" width="32" height="32" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>